<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/layout.css">
    <link rel="stylesheet" href="/public/styles/modules.css">
    
</head>
<body>
    <header>
        <h1 id="title">my books</h1>
        <div class="topnav">
            <div class="menu"></div>
            <div class="menu"></div>
            <div class="menu"></div>
        </div>
    </header>
    <main>
        <div class="toggle" id="firstToggle"><a href="/">Home</a></div>
        <div class="toggle" id="searchNav"><a href="#">Search</a></div>

        <div id="topForm"><p>Search Results</p></div>
        <% booksARR.forEach(value =>{ %>
            <div class="card">
                <img src="<%= value.imgUrl %>" alt="">
                <h2> <%= value.title %> </h2>
                <h2><%= value.author %></h2>
                <p><%= value.description %></p>
            </div>
        <% }) %> 
    </main>
    <footer>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/public/app.js"></script> 
</body>
</html>